* {
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console", monospace;
    font-size: 12pt;
}

.ort {
    line-height: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.nowrap {
    white-space: nowrap;
}

canvas.chart {
    width: 100vw;
    max-height: 70vh;
    background-color: white;
}

details {
    cursor: pointer;
}

div.graph {
    width: 98vw;
    position: relative;
}

div.rt {
    position: absolute;
    top: 0;
    right: 2vw;
}

div.on {
    position: relative;
    user-select: none;
    cursor: pointer;
    width: 2rem;
    height: 1rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    background-color: rgba(0, 0, 255, 0.6);
}

div.on::after {
    position: absolute;
    content: "";
    width: 40%;
    height: 80%;
    border-radius: 45%;
    background-color: #ffffff;
    top: 10%;
    right: 6%;
}

div.off {
    position: relative;
    user-select: none;
    cursor: pointer;
    width: 2rem;
    height: 1rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.6);
}

div.off::after {
    position: absolute;
    content: "";
    width: 40%;
    height: 80%;
    border-radius: 45%;
    background-color: #ffffff;
    top: 10%;
    left: 6%;
}

select {
    max-width: 50vw;
    text-overflow: ellipsis;
}

div.table {
    max-width: 100vw;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

table.data {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th.data {
    border: 1px solid gray;
}

td.area {
    border: 1px solid gray;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
    width: 18%;
}

td.data {
    border: 1px solid gray;
    text-align: center;
    width: 6%;
}

#area {
    line-height: 1rem;
}

#years {
    max-width: 95vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.year {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin: 0.25rem;
    cursor: pointer;
    text-align: center;
    text-overflow: ellipsis;
    border-radius: 0.75rem;
    border: 1px solid gray;
    line-height: 2rem;
    font-weight: 400;
    white-space: nowrap;
}

.checkYear {
    background-color: gray;
    color: white;
}

h3 {
    font-style: normal;
}

cite {
    font-style: normal;
}